<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MachineSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  
	<connectionStrings>
  <add name="MachineSystem.Properties.Settings.MachineDBConnectionString" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=MachineDB;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
 </connectionStrings>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <MachineSystem.Properties.Settings>
   <setting name="原料入库单" serializeAs="String">
    <value>导入</value>
   </setting>
   <setting name="导入原料出库单" serializeAs="String">
    <value>导入</value>
   </setting>
   <setting name="ss" serializeAs="String">
    <value>HideTextEditor</value>
   </setting>
  </MachineSystem.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
